/* Medium Text Sizes */
html {
  font-size: 1.25em;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}


/* fullscreen background image 
body { 
  background: url('../images/background.jpg') no-repeat 23% center scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*/

/* responsive iframes */
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

p.card-text{
  font-size: 15px;
  line-height: 142%;
}

/* Project Preview Cards */
#projects a {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.card {
  transition: box-shadow 0.5s;
}



.card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.card-title{
  font-weight: bold;
}

/* About page */

* {
  box-sizing: border-box;
}
body {
  padding: 1rem;
}


main {
  max-width: 500px;
  margin: 0 auto;
}
article {
  margin: 1rem 0;
}

.snapshot{
  margin-bottom: 70px;
  font-size:16px;
}

.col-md-3{
  border-left:solid 0px;
  border-color:#ade6e6;
  padding:0.5em;
}


/* Grid-based layout */

@supports (display: grid) {
  main { 
    max-width: 10000px;
    margin: 0;
  }
  article {
    margin: 0;
  }
  .about-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
}
  
.about-page {
  font-family: Avenir, Roboto, Helvetica, san-serif; 
  font-size: 80%;
}
.about-image {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}
.about-image > h1 {
  margin: 1rem 1rem 0;
}
.about-image > ul {
  margin: 0 0 1rem;
}
.about-image > p {
  margin: 0.25em 1rem 1rem;
}
.about-image > img {
  order: -1;
  align-self: center;
}
.about-image > button {
  margin-top: auto; 
  background: teal;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
}

/* Tab Naviagation Styling */
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid;
    border-radius: 4px 4px 0 0;}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs li.active a {border-bottom-color: transparent;background-color:#00a1ff; color:white;}

/*Project Gallery: Search*/

.form-inline[type=text]{
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
  width: 100%;
  margin-top:80px;
  text-align:center;
  }


/*Project Gallery: Filter System*/

.filters{
  margin-top:50px;
}

.filter-button
{
    font-size: 18px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color:black;
    margin-bottom: 20px;
    margin-top:20px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: black;
    background-color: white;

}


.btn-default:active .filter-button:active
{
    background-color: white;
    color: white;
}


/* Project Gallery: Modal Windows */
div.modal-header {
  padding: 15px 1rem;
}

div.modal-body {
  padding: 5;
}

div.modal-body  div.container-fluid {
  padding: 50px;
}

.mb-4{
  font-size:16px;
}

.tab-content {
  min-height:460px;
}

.follow-project {
  background: linear-gradient(to top right, #9ae8ed 0%, #5B86E5 100%);
  width:100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding:25px;
}

.nutshell-section {
  background: linear-gradient(to top right, #9ae8ed 0%, #5B86E5 100%);
  width:100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding:25px;
}

/*Community Page*/

.lightbulb {
  width:50%;
}

/*Privacy Content Padding */
#privacy h1,h2,h3,h4 {
  padding: 0.5rem 0;
}

/* Desktop Layout Rules */
@media (min-width: 700px) {
  
  /* Modal Windows */
  div.modal-header {
    padding: 15px 1rem;
    padding-left: 35px;
  }

  div.modal-body {
    padding: auto 15px;
  }

  div.modal-body  div.container-fluid {
    padding: 0;
  }
}

/*Community Page*/

.header {
 margin-bottom: -70px;
}
