doctype html
head
  title  We Make Reality 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='stylesheet' href='css/bootstrap/bootstrap-theme.css')
  link(rel='stylesheet' href='css/custom.css')
  link(rel='icon' href='favicon.ico')
.container-fluid
  // Navigation Start
  nav.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand.col-4.pl-0.mr-0(href='#') We Make Reality
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navigations-09')
      span.navbar-toggler-icon
    #navigations-09.collapse.navbar-collapse.justify-content-md-center.col-8.px-0
      ul.navbar-nav.col-6.justify-content-center
        li.nav-item
          a.nav-link(href='index.html#projects')  Projects 
        li.nav-item
          a.nav-link.active(href='index.html#mission')  Mission 
        // <li class="nav-item"><a class="nav-link" href="#"> Community </a></li>
        li.nav-item
          a.nav-link(href='index.html#codeofconduct')  Code of Conduct 
      .col-6.text-lg-right.px-0
        a.btn.btn-outline-primary.mt-2.mt-lg-0.mr-0(href='#') Subscribe
  // Content Start
  section.py-5
    .container
      .Intro(style='width:75%; margin:auto;')
        h2 Code of Conduct
        br
        p
          | This is a &ldquo;living&rdquo; document. We may refine and expand it in the future. Last updated May 2019.
        h5 Introduction
        p
          | The XR community is made up all kinds of humans, coming from different walks of life with the shared mission to explore the potential of ourselves and this technology. Everyone here is a part of building a better future and our goal is to provide a place for support, learning, and transparency.
        p
          | Diversity is our strength. People from varying backgrounds and disciplines are critical to unlocking the potential of new technologies. But this can also lead to communication issues and disagreements.
        p
          | We want to provide a safe and welcoming space for us to come together to grow as an industry. We ask that everyone who participates in We Make Reality to adhere to our Code of Conduct, including our team, volunteers, community members, and contributors.
        p
          | Together we can build the type of community we want to be. Let&apos;s make it a great one!
      .Short-Version(style='width:75%; margin:auto;')
        br
        h2 The Quick Version
        br
        h5 Community Guidelines
        ul(style='list-style: none;')
          li &#x1F49C; Be kind
          li &#x1F44B; Be welcoming
          li &#x1F40C; Be patient
          li &#x1F60A;Be respectful
          li &#x1F60C; Be humble
          li &#x1F575;&#x1F3FF;&zwj; Be curious
          li &#x1F64C;&#x1F3FE;Be helpful
          li &#x1F64B;&#x1F3FD; Be honest
          li &#x1F308; Be inclusive
          li &#x2728;Enjoy! Play nice.
        h5 Harassment-Free Space
        p
          | We Make Reality is dedicated to providing a safe, harassment-free experience for everyone,regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of participants in any form.
        p
          | For examples of harassment and how to report, please see &ldquo;The Less Quick Version&rdquo; in the next section.
      .Long-Version(style='width:75%; margin:auto;')
        br
        h2 The Less Quick Version
        br
        h5 Community Guidelines
        p
          | Our community has the potential to be awesome if we all play our part. Help us keep things healthy and welcoming by being:
        ul(style='list-style: none;')
          li(style='font-weight: bold') &#x1F49C; Kind
          p
            | With every action you take, be kind. Spread positivity. Be the human others look up to.
          li(style='font-weight: bold') &#x1F44B; Welcoming
          p Make others feel like they belong. Say hello! Ask someone how they&apos;re doing.
          li(style='font-weight: bold') &#x1F40C; Patient
          p
            | We come from different backgrounds and disciplines. Don&apos;t make assumptions. Choose collaboration over conflict. Be careful in the words you choose.
          li(style='font-weight: bold') &#x1F91D; Respectful
          p
            | Treat others&apos; information with respect. Do not use this community to sell or overly self-promote. We want to celebrate your work, but not for the sake of commercial benefit.
          li(style='font-weight: bold') &#x1F60C; Humble
          p
            | We&apos;re all learning as we go. Don&rsquo;t assume you have all the answers. Celebrate the failures. Share the failures.
          li(style='font-weight: bold') &#x1F575;&#x1F3FF;&zwj; Curious
          p
            | Ask questions&mdash;there are no dumb ones! Keep an open mind. There&apos;s always more to learn.
          li(style='font-weight: bold') &#x1F64C;&#x1F3FE; Helpful
          p
            | No matter what stage we&apos;re at, we can always use help. Give and receive constructive criticism. As said by Feminist Frequency, &quot;be critical of the media you love.&quot; Share tips and tricks.
          li(style='font-weight: bold') &#x1F64B;&#x1F3FD; Honest
          p
            | We help each other grow through sharing and transparency. As much as you&apos;re comfortable, share what you learn along the way. In addition, be honest with the feedback you give to other projects.
          li(style='font-weight: bold') &#x1F308; Inclusive
          p
            | This is a place where people of different identities, backgrounds, and disciplines come together. We thrive from that. Respect views different from your own. Everyone is equal.
        p  And of course, 
        ul(style='list-style: none;')
          li(style='font-weight: bold') &#x2728; Enjoy! Play nice
          p  Let&apos;s have fun while we&apos;re at it, yea?!
        br
        h5 Code of Conduct
        br
        h6 Where this Code of Conduct Applies 
        p
          | We expect all community participants (contributors, admins, sponsors, and guests) to abide by this Code of Conduct in all community venues&ndash;online and in-person&ndash;as well as in all one-on-one communications.
        h6 Harassment-Free Space
        p
          | We Make Reality is dedicated to providing a harassment-free experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, beliefs, or religion (or lack thereof). Sexist, racist, discriminatory, or harassing language and imagery is not appropriate in our community, in person or online.
        p Harassment includes, but is not limited to:
        ul
          li
            | Offensive comments related to gender, gender identity and expression, sexual orientation, disability, mental illness, neurotype, physical appearance, body, age, race, ethnicity, nationality, language, or religion
          li
            | Unwelcome comments regarding a person&rsquo;s lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment
          li Deliberate misgendering or use of &lsquo;dead&rsquo; or rejected names
          li
            | Gratuitous or off-topic sexual images or behavior in spaces where they&rsquo;re not appropriate
          li
            | Physical contact and simulated physical contact (eg, textual descriptions like &ldquo;hug&rdquo; or &ldquo;backrub&rdquo;) without consent or after a request to stop
          li Threats of violence 
          li
            | Incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm
          li Deliberate intimidation
          li Stalking or following
          li
            | Harassing photography or recording, including logging online activity for harassment purposes
          li Sustained disruption of discussion
          li Unwelcome sexual attention
          li
            | Pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others
          li Continued one-on-one communication after requests to cease
          li
            | Deliberate &ldquo;outing&rdquo; of any aspect of a person&rsquo;s identity without their consent except as necessary to protect other We Make Reality community members or other vulnerable people from intentional abuse
          li
            | Publication of non-harassing private communication without consent by the involved parties
          li Advocating for, or encouraging, any of the above behavior
        p
          | We Make Reality prioritizes marginalized people&rsquo;s safety over privileged people&rsquo;s comfort. We Make Reality reserves the right not to act on complaints regarding:
        ul
          li &lsquo;Reverse&rsquo; -isms, including &lsquo;reverse racism,&rsquo; &lsquo;reverse sexism,&rsquo; and &lsquo;cisphobia&rsquo;
          li
            | Reasonable communication of boundaries, such as &ldquo;leave me alone,&rdquo; &ldquo;go away,&rdquo; or &ldquo;I&rsquo;m not discussing this with you.&rdquo;
          li Communicating in a &lsquo;tone&rsquo; you don&rsquo;t find congenial
          li
            | Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions
        h6 Reporting and Enforcement
        p
          | Providing a consistently safe, welcoming space is something we take VERY seriously. Unacceptable behavior from any community member, including sponsors and those with decision-making authority, will not be tolerated.
        p
          | Anyone can report harassment or a violation of this Code of Conduct.  If someone&rsquo;s behavior has made you uncomfortable, or if you witness the same happening to someone else, please let us know immediately!
        p To report an incident, please email us at ______.
        h6 Consequences
        p
          | Participants asked to stop any harassing behavior are expected to comply immediately.
        p
          | If a participant engages in harassing behavior, We Make Reality may take any action we deem appropriate, up to and including expulsion from all We Make Reality spaces and identification of the participant as a harasser to other We Make Reality community members or the general public.
        p
          | In cases of physical violence or extreme harassment we will provide information to organizers of partner community groups. If we share information about an incident, we will notify those involved. Our goal in doing this is to keep the entire community informed and safe.
      .CoC-Thanks(style='width:75%; margin:auto;')
        br
        h2 Thanks! &#x1F497;
        p
          | Code of Conducts are important. We couldn&apos;t have made ours without the help of organizations that inspire us. Our Code of Conduct borrows heavily from:
        ul
          li
            a(href='http://www.writethedocs.org/code-of-conduct/' target='blank') Write the Docs
          li
            a(href='https://2018.xoxofest.com/conduct' target='blank') XOXO
          li
            a(href='https://www.vrarcollective.com/code-of-conduct' target='blank') VR/AR Collective
          li
            a(href='https://elpha.com/faq#guidelines' target='blank') Elpha
        p(style='font-style: italic;')
          | Have suggestions on how we can improve this Code of Conduct? We want to hear from you! Please email ________.
// Content End
// Footer Start
section.py-5
  .container.text-center
    h4.mb-3 Follow Project
    .mx-auto
      a(href='#')
        img.mr-3(src='placeholder/icons/twitter.svg' alt='')
      a(href='#')
        img.mr-3(src='placeholder/icons/facebook-f.svg' alt='')
      a(href='#')
        img.mr-3(src='placeholder/icons/instagram.svg' alt='')
      a(href='#')
        img(src='placeholder/icons/linkedin-in.svg' alt='')
// Footer End
// Scripts Start
script(src='js/jquery/jquery.min.js')
script(src='js/popper/popper.min.js')
script(src='js/bootstrap/bootstrap.min.js')
// Scripts End
