doctype html
html(lang="pl")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid

            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand.col-4.pl-0.mr-0(href="#") We Make Reality
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-09")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse.justify-content-md-center.col-8.px-0#navigations-09
                    ul.navbar-nav.col-6.justify-content-center
                        li.nav-item
                            a.nav-link.active(href="#") Our Mission
                        li.nav-item
                            a.nav-link(href="#") Projects
                        li.nav-item
                            a.nav-link(href="#") Community
                        li.nav-item
                            a.nav-link(href="#") remove this
                    .col-6.text-lg-right.px-0
                        a.btn.btn-outline-primary.mt-2.mt-lg-0.mr-0(href="#") Subscribe


            section.py-5(style="background: url('http://bootstrapshuffle.com/placeholder/pictures/bg_16-4.svg?primary=');background-size: cover")
                .container.text-center
                    strong 
                    h1.display-4.my-3 We're a community exploring the potential of emerging technology.
                    a.btn.btn-primary.my-2(href="#") Explore Projects and Research 👇

            section.py-5
                h2.mb-5.text-center 
                ul.nav.nav-pills.justify-content-center.mb-5
                    li.nav-item
                        a.nav-link.active(href="#") Eduation
                    li.nav-item
                        a.nav-link(href="#") Mental Health
                    li.nav-item
                        a.nav-link(href="#") Equality
                .container.text-center
                    .row
                        .col-md-6.mb-4
                            .card
                                img.card-img(src="http://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=", alt="")
                                .card-img-overlay.d-flex.justify-content-center.flex-column
                                    h5.card-title Pied Piper
                                    p.card-text We are constantly looking for new partners to migrate onto the PiperNet. The future of the internet is here - venture towards it with Pied Piper!
                        .col-md-6.mb-4
                            .card
                                img.card-img(src="http://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=", alt="")
                                .card-img-overlay.d-flex.justify-content-center.flex-column
                                    h5.card-title Pied Piper
                                    p.card-text We are constantly looking for new partners to migrate onto the PiperNet. The future of the internet is here - venture towards it with Pied Piper!
                    .card
                        img.card-img(src="http://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=", alt="")
                        .card-img-overlay.d-flex.justify-content-center.flex-column
                            h5.card-title Pied Piper
                            p.card-text We are constantly looking for new partners to migrate onto the PiperNet. The future of the internet is here - venture towards it with Pied Piper!
                            a.card-link(href="#") Card link
                    a.btn.btn-primary.mt-5(href="#") View all PiperNet clients

            section.py-5
                .container.text-center
                    h2.mb-5 
                    .row
                        .col-sm-6.col-md-4.mb-4
                            .card
                                img.card-img-top(src="images/Healium.jpg", alt="")
                                .card-body
                                    h5.card-title Healium
                                    p.card-text Visualizing the power of our thoughts with VR/AR 🚀💰  By: StoryUP XR
                                    a(href="#") Learn more
                        .col-sm-6.col-md-4.mb-4
                            .card
                                img.card-img-top(src="images/Root.jpg", alt="")
                                .card-body
                                    h5.card-title Root VR
                                    p.card-text VR to enable children from adverse home environments better adapt to change 🕵️💰  By: David Waltenbaugh
                                    a(href="#") Learn more
                        .col-sm-6.col-md-4.mb-4
                            .card
                                img.card-img-top(src="http://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=", alt="")
                                .card-body
                                    h5.card-title Teacher's Lens
                                    p.card-text Taking on implicit bias through VR training 🚀💰  By: Debias VR
                                    a(href="#") Learn more
                        .col-sm-6.col-md-4.mb-4
                            .card
                                img.card-img-top(src="images/Image.jpeg", alt="")
                                .card-body
                                    h5.card-title VR School Study
                                    p.card-text Using VR in real classrooms to understand its impact 🕵️  By: VR School
                                    a(href="#") Learn more
                        .col-sm-6.col-md-4.mb-4
                            .card
                                img.card-img-top(src="images/Ballard.JPG", alt="")
                                .card-body
                                    h5.card-title Ballard VR Club
                                    p.card-text Giving high school students access to new technology 👩‍🏫  By: Avery Wagar
                                    a(href="#") Learn more
                        .col-sm-6.col-md-4.mb-4
                            .card
                                img.card-img-top(src="http://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=", alt="")
                                .card-body
                                    h5.card-title Pied Piper
                                    p.card-text We are constantly looking for new partners to migrate onto the PiperNet. The future of the internet is here - venture towards it with Pied Piper!
                                    a(href="#") Read case
                    a.btn.btn-primary.mt-3(href="#") Submit your Project!

            section.py-5
                .container.text-center
                    img.mb-4(src="placeholder/icons/unicorn.svg", alt="")
                    p Our mission is


            section.py-5
                .container
                    .row.align-items-center
                        .col-md-6.text-center
                            h5 Let's make reality together!
                            p.mb-3.mb-md-0 Sign up for updates and hear when we open up submissions.

                        .col-md-6
                            .input-group
                                label.sr-only(for="call-to-action-04") Email
                                input.form-control#call-to-action-04(type="email", placeholder="Email", aria-label="email", aria-describedby="call-to-action-button-04")
                                .input-group-append
                                    button.btn.btn-primary#call-to-action-button-04 Subscribe

            footer.py-3
                .container
                    .d-flex.justify-content-center.align-items-center.flex-column
                        h5.mb-3
                            a(href="#") We Make Reality
                        .d-flex.mb-3
                            a(href="#")
                                img.mr-3(src="placeholder/icons/twitter.svg", alt="")
                            a(href="#")
                                img.mr-3(src="placeholder/icons/facebook-f.svg", alt="")
                            a(href="#")
                                img.mr-3(src="placeholder/icons/instagram.svg", alt="")
                            a(href="#")
                                img(src="placeholder/icons/linkedin-in.svg", alt="")
                        .d-flex
                            p.mb-0.small.text-muted &copy; 2019 Pied Piper. All right reserved.

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")