doctype html
html(lang="pl")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid

            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand.col-4.pl-0.mr-0(href="#") We Make Reality
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-09")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse.justify-content-md-center.col-8.px-0#navigations-09
                    ul.navbar-nav.col-6.justify-content-center
                        li.nav-item
                            a.nav-link.active(href="#") Home
                        li.nav-item
                            a.nav-link(href="#") Our Mission
                        li.nav-item
                            a.nav-link(href="#") Gallery
                        li.nav-item
                            a.nav-link(href="#") Directory
                    .col-6.text-lg-right.px-0
                        a.btn.btn-outline-primary.mt-2.mt-lg-0.mr-0(href="#") Subscribe


            section.py-5
                .container
                    .row
                        .col-md-6.my-auto
                            h2.mb-3 Project Name
                            p.mb-4 Project description
                            a.btn.btn-primary.mr-3(href="#") Learn more 👇
                            a(href="#") Website
                        .col-md-6.mt-5.mt-md-0
                            img.img-fluid(src="http://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=", alt="")

            section.py-5
                .container
                    h2.mb-5.text-center Snapshot
                    .row
                        .col-md-3.mb-4
                            h5 Intent
                            p Using VR to help us visualize the power of our thoughts.
                            a(href="#", role="button") Read more
                        .col-md-3.mb-4
                            h5 Made By
                            p StoryUP
                            a(href="#", role="button") Read more
                        .col-md-3.mb-4
                            h5 Available On
                            p Oculus, App Store
                            a(href="#", role="button") Read more
                        .col-md-3.mb-4
                            h5 Status
                            p Product released, Raising Funds
                            a(href="#", role="button") Read more

            section.py-5
                .container
                    article.row
                        nav.col-sm-3
                            ul.list-inline
                                li #[a.text-dark(href="#") PiperNet]
                                li
                                    ul.list-inline.ml-3
                                        li #[a.text-primary(href="#") Features]
                                        li #[a.text-dark(href="#") Enterprise]
                                        li #[a.text-dark(href="#") Support]
                                li #[a.text-dark(href="#") ICO]
                                li #[a.text-dark(href="#") Tokens]
                                li #[a.text-dark(href="#") Whitepaper]
                                li #[a.text-dark(href="#") Download]
                                li #[a.text-dark(href="#") About]

                        .col-sm-9
                            h1.mb-4 About

                            h3.mb-3 Healium is a new kind of meditation channel powered by visual, biometrically controlled- content, allowing users to harness the power of their biometrics to heal virtual and augmented reality environments.
                            p 

                            h3.mb-3 
                            p 
                            p 

            section.py-5
                .container.text-center
                    h4.mb-3 Follow Project
                    .mx-auto
                        a(href="#")
                            img.mr-3(src="placeholder/icons/twitter.svg", alt="")
                        a(href="#")
                            img.mr-3(src="placeholder/icons/facebook-f.svg", alt="")
                        a(href="#")
                            img.mr-3(src="placeholder/icons/instagram.svg", alt="")
                        a(href="#")
                            img(src="placeholder/icons/linkedin-in.svg", alt="")

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")